### Задание 1

In [ ]:
word = input('Введи слово:\n')
num = int(len(word) / 2)
if len(word) % 2 == 0:
  print('Результат:')
  print(word[num-1:num+1])
else:
  print('Результат:')
  print(word[num])

Введи слово:
ntcn
Результат:
tc

In [ ]:
word = input('Введи слово:\n')
print(word[int(len(word)/2-1):int(len(word)/2+1)] if len(word)%2==0 else word[len(word)//2])

Введи слово:
ntcn
tc

### Задание 2

In [ ]:
res = 0
number = int(input('Введите число:\n'))
if number != 0:
  while number !=0:
    res = res + number
    number = int(input('Введите число:\n'))
  else:
    print('Результат:')
    print(res)
else:
  print('Результат:')
  print(number)

Введите число:
666
Введите число:
777
Введите число:
0
Результат:
1443

In [ ]:
number = int(input('Введите число '))
sum_ = 0
while number:
   sum_ += number
   number = int(input('Введите число '))
print(sum_)

Введите число 1
Введите число 5
Введите число 4
Введите число 0
10

#### Задание 3

In [ ]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richar']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if (len(boys)) == (len(girls)):
 print('Результат:\nИдеальные пары:')
 for g, b in list(zip(sorted(boys), sorted(girls))):
  print(f'{g} и {b}')
else:
 print('Результат:\nВнимание, кто-то может остаться без пары!')

Результат:
Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richar и Trisha

#### Задание 4

In [ ]:
countries_temperature = [
                      ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
                      ['Germany', [57.2, 55.4, 59, 59, 53.6]],
                      ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
                      ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
  ]
print('Результат:\n\nСредняя температура в странах:')
for country, temp in countries_temperature:
 print(f'{country} -  {(((sum(temp) / len(temp)) - 32) / 1.8) :.1f} C')

Результат:

Средняя температура в странах:
Thailand -  23.9 C
Germany -  13.8 C
Russia -  3.7 C
Poland -  12.0 C

### Задание 5

In [ ]:
stream = [
          '2018-01-01,user1,3',
          '2018-01-07,user1,4',
          '2018-03-29,user1,1',
          '2018-04-04,user1,13',
          '2018-01-05,user2,7',
          '2018-06-14,user3,4',
          '2018-07-02,user3,10',
          '2018-03-21,user4,19',
          '2018-03-22,user4,4',
          '2018-04-22,user4,8',
          '2018-05-03,user4,9',
          '2018-05-11,user4,11',
]
result ={}
cnt = 0
for el in stream:
  (name, val) = el.split(',')[1:]
  cnt += int(val)
  if name in result:
    result[name] += int(val)
  else:
    result[name] = int(val)
print(f'Результат:\nСреднее количество просмотров на уникального пользователя:{cnt/len(result): .2f}')
#print(sum(result.values())/len(result))

Результат:
Среднее количество просмотров на уникального пользователя: 23.25

In [ ]:
stream = [
'2018-01-01,user100,150',
'2018-01-07,user99,205',
'2018-03-29,user1001,81'
]
result ={}
for el in stream:
  (name, val) = el.split(',')[1:]
  if name in result:
    result[name] += int(val)
  else:
    result[name] = int(val)
print(f'Результат:\nСреднее количество просмотров на уникального пользователя:{sum(result.values())/len(result): .2f}')

Результат:
Среднее количество просмотров на уникального пользователя: 145.33

In [ ]:
stream = [
'2018-01-01,user100,150',
'2018-01-07,user99,205',
'2018-03-29,user1001,81'
]
total_views = sum([int(element.split(',')[2]) for element in stream])
no_of_users = len(set([element.split(',')[1] for element in stream]))

print("Среднее число просмотров на уникального пользователя:", round(total_views / no_of_users, 2))

Среднее число просмотров на уникального пользователя: 145.33

### Задание 6

In [ ]:
numbers = list(input('Введите числа, разделенные пробелом:\n').split(' '))
res = {}
res2 = []
for el in numbers:
  res[el] = numbers.count(el)
for item in res:
  if res[item] != 1:
    res2.append(item)
if len(res2) > 0:
 print('Результат:')
 print(*sorted(res2))
else:
  print('Результат:')
  print('Подходящих чисел нет!')

Введите числа, разделенные пробелом:
1 1 2 2 3 4 5
Результат:
1 2