Домашнее задание

Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

    если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
    для источников paid и email из России ставим ad;
    для источников paid и email не из России ставим other;
    все остальные варианты берём из traffic_source без изменений.

Задание 2
В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. Выполните действия:

    Прочитайте содержимое файла с датафрейм.
    Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

Задание 4
Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе «Материалы для лекции “Продвинутый pandas”» ---- Ноутбуки к лекции «Продвинутый pandas»).
Нужно сформировать две таблицы:

    таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
    аналогичную таблицу по типам выручки с указанием адреса клиента.

In [ ]:
import pandas as pd

# Задание 1

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/pandas_data/03/visit_log.csv', sep = ';')
df.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [ ]:
df.loc[df.traffic_source.isin(['yandex', 'google']), 'traffic_type'] = 'organic'
df

,timestamp,visit_id,url,region,user_id,traffic_source,traffic_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
...,...,...,...,...,...,...,...
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,NaN
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,NaN
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,NaN
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,NaN

In [ ]:
def source(row):
    if row['traffic_source'] == 'yandex' or row['traffic_source'] == 'google':
        row['source_type'] = 'organic'
    elif row['traffic_source'] == 'paid' or row['traffic_source'] == 'email':
        if row['region'] == 'Russia':
            row['source_type'] = 'ad'
        else:
            row['source_type'] = 'other'
    else:
        row['source_type'] = row['traffic_source']
    return row

In [ ]:
df = df.apply(source, axis = 1)
df.head(20)

,region,source_type,timestamp,traffic_source,url,user_id,visit_id
0,Russia,organic,1549980692,yandex,https://host.ru/3c19b4ef7371864fa3,b1613cc09f,e3b0c44298
1,Russia,direct,1549980704,direct,https://host.ru/c8d9213a31839f9a3a,4c3ec14bee,6e340b9cff
2,Russia,organic,1549980715,yandex,https://host.ru/b8b58337d272ee7b15,a8c40697fb,96a296d224
3,Russia,organic,1549980725,yandex,https://host.ru/b8b58337d272ee7b15,521ac1d6a0,709e80c884
4,Russia,organic,1549980736,yandex,https://host.ru/b8b58337d272ee7b15,d7323c571c,df3f619804
5,Russia,organic,1549980742,yandex,https://host.ru/df646c3676cc259fa0,fc43898e47,8855508aad
6,Russia,ad,1549980742,paid,https://host.ru/b8b58337d272ee7b15,13fc55e781,b0f66adc83
7,Russia,direct,1549980754,direct,https://host.ru/108ce4b365afb7b88e,cb5082b6f6,837885c8f8
8,China,direct,1549980760,direct,https://host.ru/3004a8273caeef2867,45664f7af2,af5570f5a1
9,Russia,ad,1549980765,email,https://host.ru/df646c3676cc259fa0,6f9de8c8b6,3e7077fd2f
10,India,direct,1549980777,direct,https://host.ru/a5dda93e70318570c0,27e76a4a80,01d448afd9
11,Ukraine,organic,1549980785,google,https://host.ru/c8d9213a31839f9a3a,3b13701488,71b6c1d538
12,Russia,ad,1549980789,paid,https://host.ru/8e88d4703848cc0ec4,6d1d81f7f8,15ec7bf0b5
13,China,direct,1549980792,direct,https://host.ru/3004a8273caeef2867,7e301c8c41,dd46c3eebb
14,Belarus,direct,1549980793,direct,https://host.ru/05e41944dd85a900a6,ac52dedc3b,e7ecebbc59
15,Belarus,other,1549980797,paid,https://host.ru/4adc8a29b212051b04,9a45d98867,5322fecfc9
16,Russia,organic,1549980801,google,https://host.ru/39fa884393666d45fc,e9bd59e22d,374708fff7
17,Ukraine,other,1549980807,paid,https://host.ru/2fcb223266880ccf57,a2ba8fa3db,0a88111852
18,Belarus,direct,1549980814,direct,https://host.ru/ef57543002ce2a0f2a,72cb10fb5c,60daa3a5f7
19,Belarus,direct,1549980816,direct,https://host.ru/f1eb4601740d627ab0,7269dcd869,d6fd62f5ce

# Задание 2

In [ ]:
df_urls = pd.read_csv('/content/drive/MyDrive/pandas_data/03/URLs.txt')
df_urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [ ]:
df_urls[df_urls.url.str.contains('\/\\d{8}\-', regex=True)].head(10)

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
10  /middleeast/36131117-divizion-s-400-ne-zametil...
11  /economics/36065674-rossiyane-vozmutilis-minim...
12  /politics/36118047-otets-24-detey-potreboval-i...
13  /travel/36194479-v-sheremetevo-passazhiry-ustr...
14  /politics/35638742-nesolidno-mariya-zaharova-s...

# Задание 3

In [ ]:
df_rating = pd.read_csv('/content/drive/MyDrive/pandas_data/03/ratings.csv')
df = df_rating.loc[:, ['userId', 'timestamp']].groupby('userId')
df.head()

       userId   timestamp
0           1  1260759144
1           1  1260759179
2           1  1260759182
3           1  1260759185
4           1  1260759205
...       ...         ...
99889     671  1064891129
99890     671  1065149314
99891     671  1064890944
99892     671  1064890230
99893     671  1064891246

[3355 rows x 2 columns]

In [ ]:
def df_rating_count(row):
    result = row['userId'].count()
    row['count'] = result
    if result > 100:
        row['diff'] = row['timestamp'].max() - row['timestamp'].min()
        return row

In [ ]:
df_res = df.apply(df_rating_count)
df_result = df_res.loc[:, ['diff']]
df_result.head()

              diff
userId
4      147  203560
       148  203560
       149  203560
       150  203560
       151  203560

# Задача 4
    Необходимо сформировать две таблицы:

    таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
    аналогичную таблицу по типам выручки с указанием адреса клиента

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [ ]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [ ]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [ ]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [ ]:
df_result = rzd.merge(auto, how = 'outer', on ='client_id').merge(air, how = 'outer', on ='client_id').fillna(0)
df_result

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0
5        116          0.0        4834.0          4.0
6        117          0.0          98.0         13.0
7        118          0.0           0.0        173.0

In [ ]:
df_result_address = df_result.merge(client_base, how = 'left', on ='client_id')
df_result_address

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          0.0        4834.0          4.0    Строителей 18
6        117          0.0          98.0         13.0  Панфиловская 33
7        118          0.0           0.0        173.0     Мастеркова 4