In [ ]:
import pandas as pd
from scipy import stats

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data_colab/vgsales.csv')
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pip install --upgrade scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.21.6)


### Задание № 1

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?

2) Критикам нравятся больше игры на PC или на PS4?

3) Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:

    сформулируйте нулевую и альтернативную гипотезы;
    выберите пороговый уровень статистической значимости;
    опишите полученные результаты статистического теста.

In [ ]:
# df['Genre'].unique() # проверка какие есть жанры
# df['Critic_Score'].unique() # проверка значений оценок критиков
# df['Critic_Score'].loc[df['Genre'] == 'Sports'].max()
# df['Critic_Score'].loc[df['Genre'] == 'Sports'].min()
# df['Critic_Score'].loc[df['Genre'] == 'Sports'].mean()

In [ ]:
# большое количество пропусков
passes =  len(df['Critic_Score'].loc[df['Genre'] == 'Sports']) - df['Critic_Score'].loc[df['Genre'] == 'Sports'].value_counts().sum()
passes

1154

In [ ]:
# Заполнение пропусков средним значением, так как при использовании alternative='greater' нельзя использовать параметр
# игнорирования nan - nan_policy='omit'
critic_sport = df['Critic_Score'].loc[df['Genre'] == 'Sports'].fillna(df['Critic_Score'].loc[df['Genre'] == 'Sports'].mean().round())
critic_sport

0        76.0
3        80.0
13       80.0
15       80.0
77       82.0
         ...
16680    72.0
16692    72.0
16697    72.0
16704    72.0
16715    72.0
Name: Critic_Score, Length: 2348, dtype: float64

In [ ]:
# 1) Как критики относятся к спортивным играм?
# В столбце Critic_Score 	оценки критиком, минимальная - 19, максимальная - 98, средняя - 72
# Будем считать, что при уровне оценок выше 75 критикам нравится игра
# H0 - отношение к спортивным играм на уровне оценок <= 75
# H1 - отношение к спортивным играм на уровне оценок > 75

alpha = 0.05 # уровень значимости 5%
result = stats.ttest_1samp(critic_sport, 75, alternative='greater')

print(critic_sport.mean())
print(result)

if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, среднее больше 75 (спортивные игры нравятся)')
else:
    print('Не отвергаем нулевую нулевую гипотезу, спортивные игры не нравятся')

71.98381601362863
Ttest_1sampResult(statistic=-14.77073883995037, pvalue=1.0)
Не отвергаем нулевую нулевую гипотезу, спортивные игры не нравятся

In [ ]:
# 2) Критикам нравятся больше игры на PC или на PS4?
# расчитаем pvalue для категорий PC и PS4 по отдельности и сравненим их величину

# H0: средняя оценка, отражающая оположительное отношение, одинаковая
# H1: средняя оценка, отражающая положительное отношение,  различается

alpha = 0.05 # уровень значимости 5%
critic_PC =  df['Critic_Score'].loc[df['Platform'] == 'PC'].fillna(df['Critic_Score'].loc[df['Platform'] == 'PC'].mean().round())
critic_PS4 = df['Critic_Score'].loc[df['Platform'] == 'PS4'].fillna(df['Critic_Score'].loc[df['Platform'] == 'PS4'].mean().round())


result = stats.ttest_ind(critic_PC , critic_PS4, equal_var=False)
print(result)
print(critic_PC.mean())
print(critic_PS4.mean())

if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, средняя оценка по играм на платформах PC и PS4 различается')
else:
    print('Не отвергаем нулевую гипотезу, средняя оценка по играм на платформах PC и PS4 одинаковая')

Ttest_indResult(statistic=6.592435140262437, pvalue=8.541572346817883e-11)
75.94763860369609
72.05852417302799
Отвергаем нулевую гипотезу, средняя оценка по играм на платформах PC и PS4 различается

In [ ]:

# H0 - отношение к данному типу игр на уровне оценок <= 75, не нравится
# H1 - отношение к данному типу игр на уровне оценок > 75, нравится
result = stats.ttest_1samp(critic_PC, 75, alternative='greater')

print(critic_PC.mean())
print(result)

if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, среднее больше 75 (PC игры нравятся)')
else:
    print('Не отвергаем нулевую нулевую гипотезу, РС игры не нравятся')

75.94763860369609
Ttest_1sampResult(statistic=3.0906075541404925, pvalue=0.0010271380621168678)
Отвергаем нулевую гипотезу, среднее больше 75 (PC игры нравятся)

In [ ]:
# H0 - отношение к данному типу игр на уровне оценок <= 75, не нравится
# H1 - отношение к данному типу игр на уровне оценок > 75, нравится

result = stats.ttest_1samp(critic_PS4, 75, alternative='greater')
print('Среднее для PS4: ', critic_PS4.mean())
print('результат для PS4: ', result)
if result .pvalue < alpha:
    print('Отвергаем нулевую гипотезу, среднее больше 75 (игры на платформе PS4 нравятся)')
else:
    print('Не отвергаем нулевую нулевую гипотезу (игры на платформе PS4 не нравятся)')

Среднее для PS4:  72.05852417302799
результат для PS4:  Ttest_1sampResult(statistic=-5.8363387395155595, pvalue=0.9999999944031646)
Не отвергаем нулевую нулевую гипотезу (игры на платформе PS4 не нравятся)

Ответ: Игры на PC нравятся больше, чем на PS4

In [ ]:
# 3) Критикам больше нравятся стрелялки (Shooter) или стратегии (Strategy)?
# Сначала проверим одинаково ли им нравятся игры с обоими жанрами

# H0: средняя оценка критиков по данным жанрам одинаковая
# H1: средняя оценка критиков по данным жанрам различается

alpha = 0.02 # уровень значимости 2%
shooter =  df['Critic_Score'].loc[df['Genre'] == 'Shooter'].fillna(df['Critic_Score'].loc[df['Genre'] == 'Shooter'].mean().round())
strategy = df['Critic_Score'].loc[df['Genre'] == 'Strategy'].fillna(df['Critic_Score'].loc[df['Genre'] == 'Strategy'].mean().round())

result = stats.ttest_ind(shooter, strategy, equal_var=False)
print(result)
print(shooter.mean())
print(strategy.mean())

if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, средняя оценка по стрелялкам и стратегиям различается')
else:
    print('Не отвергаем нулевую гипотезу, средняя оценка по стрелялкам и стратегиям одинаковая')

Ttest_indResult(statistic=-4.219978749280601, pvalue=2.5574059846588107e-05)
70.12925170068027
72.03806734992679
Отвергаем нулевую гипотезу, средняя оценка по стрелялкам и стратегиям различается

In [ ]:
# так как отношение к жанрам разное, то проверим какой жанр нравится/не нравится

# H0: отношение к данному жанру положительное
# H1: отношение к данному жанру отрицательное


сritic_shooter =  df['Critic_Score'].loc[df['Genre'] == 'Shooter'].fillna(df['Critic_Score'].loc[df['Genre'] == 'Shooter'].mean().round())
critic_strategy = df['Critic_Score'].loc[df['Genre'] == 'Strategy'].fillna(df['Critic_Score'].loc[df['Genre'] == 'Strategy'].mean().round())

alpha = 0.05 # уровень значимости 5%

result_1 = stats.ttest_1samp(сritic_shooter, 75, alternative='greater')
result_2 = stats.ttest_1samp(critic_strategy, 75,  alternative='greater')

print('результат для стрелялок: ', result_1)
print('результат для стратегий: ', result_2)


if result_1.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, среднее больше 75 (стрелялки нравятся)')
else:
    print('Не отвергаем нулевую нулевую гипотезу (стрелялки не нравятся)')

if result_2.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, среднее больше 75 (стратегии нравятся)')
else:
    print('Не отвергаем нулевую нулевую гипотезу (стратегии не нравятся)')

результат для стрелялок:  Ttest_1sampResult(statistic=-14.41405270896728, pvalue=1.0)
результат для стратегий:  Ttest_1sampResult(statistic=-9.850522399420145, pvalue=1.0)
Не отвергаем нулевую нулевую гипотезу (стрелялки не нравятся)
Не отвергаем нулевую нулевую гипотезу (стратегии не нравятся)

Ответ: критикам одинаково не нравятся стрелялки и стратегии

### Задание 2

In [ ]:
import re

data = pd.read_csv('/content/drive/MyDrive/data_colab/spam.csv')
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
mess = data['Message'].values.flatten()
mess

array(['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
       'Ok lar... Joking wif u oni...',
       "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
       ..., 'Pity, * was in mood for that. So...any other suggestions?',
       "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free",
       'Rofl. Its true to its name'], dtype=object)

In [ ]:
# 1) Приведите весь текст к нижнему регистру;
mess_lower = [mess.lower() for mess in mess]
mess_lower[5569]

'pity, * was in mood for that. so...any other suggestions?'

In [ ]:
# 2) Удалите мусорные символы;
only_words_mess = [re.sub('[\W_]+', ' ', mess) for mess in mess_lower]
only_words_mess[5569]

'pity was in mood for that so any other suggestions '

In [ ]:
# 3) Удалите стоп-слова;
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stopwords_set = set(stopwords.words('english'))

# without_sw = [[word for word in text if word not in stopwords_set] for text in only_words_mess[0]]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
stop = []
for text in only_words_mess:
    text_splitted = text.split(' ')
    without_sw = []
    for word in text_splitted:
        if word not in stopwords_set:
            without_sw.append(word)
    stop.append(' '.join(without_sw))
stop[5569]

'pity mood suggestions '

In [ ]:
# 4) Приведите все слова к нормальной форме;
from nltk.stem import WordNetLemmatizer
nltk.download('omw-1.4')
nltk.download('wordnet')

wordnet_lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package wordnet to /root/nltk_data...

In [ ]:
lemmatized_text = [[wordnet_lemmatizer.lemmatize(word) for word in text] for text in without_sw]

lemm = []
for text in stop:
    text_splitted = text.split(' ')
    lemm_tmp = []
    for word in text_splitted:
        word = wordnet_lemmatizer.lemmatize(word)
        lemm_tmp.append(word)
    lemm.append(' '.join(lemm_tmp))
lemm[5569]

'pity mood suggestion '

In [ ]:
data['Message_completed'] = lemm

In [ ]:
data['Category_num'] = data['Category'].replace('ham', 0).replace('spam', '1')

In [ ]:
data

,Category,Message,Message_completed,Category_num
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...,0
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...,1
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah think go usf life around though,0
...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,2nd time tried 2 contact u u 750 pound prize 2...,1
5568,ham,Will ü b going to esplanade fr home?,ü b going esplanade fr home,0
5569,ham,"Pity, * was in mood for that. So...any other s...",pity mood suggestion,0
5570,ham,The guy did some bitching but I acted like i'd...,guy bitching acted like interested buying some...,0
5571,ham,Rofl. Its true to its name,rofl true name,0

In [ ]:
data.Message_completed.values

array(['go jurong point crazy available bugis n great world la e buffet cine got amore wat ',
       'ok lar joking wif u oni ',
       'free entry 2 wkly comp win fa cup final tkts 21st may 2005 text fa 87121 receive entry question std txt rate c apply 08452810075over18',
       ..., 'pity mood suggestion ',
       'guy bitching acted like interested buying something else next week gave u free',
       'rofl true name'], dtype=object)

In [ ]:
# 5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_m = tfidf.fit_transform(data.Message_completed.values)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_m.toarray(), columns=names)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
print(tfidf_m)

  (0, 7700)	0.19559673934112576
  (0, 1056)	0.3500681397175539
  (0, 3391)	0.16411327531941786
  (0, 1961)	0.29573897905432794
  (0, 1690)	0.33417787887573286
  (0, 4208)	0.29573897905432794
  (0, 7893)	0.2346749715357466
  (0, 3429)	0.19337783325960023
  (0, 1692)	0.29573897905432794
  (0, 1275)	0.2618395518673596
  (0, 2216)	0.271103676617936
  (0, 5530)	0.239033927013926
  (0, 4090)	0.3500681397175539
  (0, 3352)	0.15489401629249636
  (1, 5175)	0.5466243141314314
  (1, 7807)	0.43162957585464123
  (1, 4060)	0.5236804332035243
  (1, 4240)	0.4083258549263009
  (1, 5149)	0.2718944069420321
  (2, 77)	0.235736740296203
  (2, 1138)	0.169445319637084
  (2, 5834)	0.16212771671394766
  (2, 7384)	0.12478428689636714
  (2, 6749)	0.19741170429781446
  (2, 5783)	0.1678186346091507
  :	:
  (5567, 5677)	0.19754681950018663
  (5567, 5383)	0.21211434345119307
  (5567, 5834)	0.2235197175743285
  (5568, 2822)	0.6485991737677518
  (5568, 3157)	0.5597098620657655
  (5568, 3362)	0.3642369776828009
  (5568, 3671)	0.3652059777476414
  (5569, 5464)	0.6198322100581006
  (5569, 6875)	0.5916968433151221
  (5569, 4798)	0.5154637494387073
  (5570, 1500)	0.3979549019598527
  (5570, 903)	0.3798909696050675
  (5570, 3917)	0.3309465409235682
  (5570, 3480)	0.24425402756518527
  (5570, 1723)	0.3309465409235682
  (5570, 3275)	0.322006432894719
  (5570, 2735)	0.2854308142764396
  (5570, 6585)	0.2402011312373849
  (5570, 4988)	0.2456912857192495
  (5570, 4331)	0.1859854269339738
  (5570, 7742)	0.21444710460627855
  (5570, 3170)	0.1865627715871064
  (5571, 6078)	0.6965242292112134
  (5571, 7339)	0.5290585818889816
  (5571, 4902)	0.4847174589916738

In [ ]:
tfidf_matrix.shape

(5572, 8048)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [ ]:
# 6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;
X = tfidf_matrix
y = data['Category_num']
y = y.astype('int')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [ ]:
y_test.shape

(1672,)

In [ ]:
X_test.shape

(1672, 8048)

In [ ]:
# model = LogisticRegression()
model = LogisticRegression()

In [ ]:
model.fit(X_train, y_train)  # обучение

LogisticRegression()

In [ ]:
# Оцениваем качество
from sklearn.metrics import accuracy_score

In [ ]:
# Оцениваем качество на выборке для тестирования (оцените ее точность на тестовых данных;)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.958732057416268

In [ ]:
# 8) Опишите результаты при помощи confusion_matrix;
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_curve, classification_report

In [ ]:
y_true = y_test
confusion_matrix(y_true, y_pred)

array([[1445,    3],
       [  66,  158]])

In [ ]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
(tn, fp, fn, tp)

(1445, 3, 66, 158)

In [ ]:
report = classification_report(y_true, y_pred, target_names=['Non-churned', 'Churned'])
print(report)

              precision    recall  f1-score   support

 Non-churned       0.96      1.00      0.98      1448
     Churned       0.98      0.71      0.82       224

    accuracy                           0.96      1672
   macro avg       0.97      0.85      0.90      1672
weighted avg       0.96      0.96      0.96      1672

In [ ]:
# 9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного (FN, FP)).

In [ ]:
# перевод тестовой выборки из вектора в сообщение
inv = tfidf.inverse_transform(X_test)

In [ ]:
# постороение датафреймаиз тестовой выборки с показателями
df = pd.DataFrame({'message': inv, 'y_test': y_test, 'y_pred': y_pred})

In [ ]:
# результирующий датафрейм с сообщениями, классифицированными неверно

df_res = df[df['y_test'] != df['y_pred']].filter(items = ['message', 'y_test', 'y_pred'])

df_res
# получилось 69 сообщений, что совпадает по количеству FN+FP

                                                message  y_test  y_pred
2952                                  [call, free, hey]       0       1
881   [already, collect, content, doit, downloaded, ...       1       0
1961  [09065394973, 150p, 18, call, datebox1282essex...       1       0
3864  [50, back, chg, cst, found, glad, god, msg, nt...       1       0
2575  [2day, amazing, back, enjoy, enough, get, keyw...       1       0
...                                                 ...     ...     ...
4543  [08712317606, 2rcv, 4utxt, 82242, baby, cam, c...       1       0
752   [announcement, customer, important, premier, s...       1       0
309   [82468, babe, check, content, fit, funky, game...       1       0
495                                        [call, free]       0       1
305   [21, 4u, aberdeen, ac, blind, check, date, hid...       1       0

[69 rows x 3 columns]